# SYNERGY LOGISTICS

## DESCRIPCIÓN DEL CASO
Synergy Logistics es una empresa dedicada a la intermediación de servicios de 
importación y exportación de diferentes productos. Actualmente la empresa 
cuenta con una base de datos que refleja las rutas más importantes que opera 
desde el año 2015, con su respectivo origen y destino, año, producto, modo de 
transporte y valor total. Su propósito, es que a partir de estos datos se genere un 
análisis que sirva de la base para la estructuración de su estrategia operativa.

## CONSIGNA
La Dirección de Synergy Logistics ha solicitado al equipo operativo, realizar una 
propuesta que permita enfocar las prioridades de la estrategia operativa 2021; para 
ello, se plantea analizar la viabilidad de 3 opciones de enfoque: rutas de importación 
y exportación, medio de transporte utilizado y valor total de importaciones y 
exportaciones.

#### Para comenzar importaremos las librerías que utilizaremos para el análisis de los datos que nos llegan

In [2]:
import pandas as pd 
import numpy as np

#### Posteriormente importaremos los datos con los que vamos a trabajar

In [107]:
database = pd.read_csv("synergy_logistics_database.csv", index_col = 0, parse_dates=[5])

### Opción 1) Rutas de importación y exportación

Análisis de exportaciones basados en las veces que se realizó cada ruta

In [108]:
exportaciones = database[database["direction"] == "Exports"]
exportaciones = exportaciones.groupby(["origin", "destination", "transport_mode"])
top_exp = exportaciones.count()["total_value"].sort_values(ascending=False).head(10)
top_exp = pd.DataFrame(top_exp).reset_index().rename(columns={"origin":"Origen", "destination":"Destino", "transport_mode":"Modo de Transporte", "total_value":"# movimientos"})

In [290]:
top_exp

        Origen      Destino Modo de Transporte  # movimientos
0  South Korea      Vietnam                Sea            497
1          USA  Netherlands                Sea            436
2  Netherlands      Belgium               Road            374
3        China       Mexico                Air            330
4        Japan       Brazil                Sea            306
5      Germany       France               Road            299
6  South Korea        Japan                Sea            279
7    Australia    Singapore                Sea            273
8       Canada       Mexico               Rail            261
9        China        Spain                Air            250

Análisis de exportaciones basado en el monto ingresado por ruta

In [110]:
sum_exp = exportaciones.sum()["total_value"].sort_values(ascending=False).head(10)
sum_exp = pd.DataFrame(sum_exp).reset_index().rename(columns={"origin":"Origen", "destination":"Destino", "transport_mode":"Modo de Transporte", "total_value":"Ingresos ($)"})

In [111]:
sum_exp

        Origen         Destino Modo de Transporte  Ingresos ($)
0        China          Mexico                Air   12250000000
1       Canada          Mexico               Rail    8450000000
2  South Korea         Vietnam                Sea    6877007000
3       France  United Kingdom                Sea    5427000000
4  South Korea           Japan                Sea    4594000000
5        China     South Korea               Rail    4535000000
6          USA          Mexico               Rail    4370000000
7       France         Belgium               Road    4257000000
8        China         Germany                Air    4090000000
9        China             USA                Air    3797000000

Análisis de importaciones basadas en el número de veces que se realizó una ruta

In [496]:
importaciones = database[database["direction"] == "Imports"]
importaciones = importaciones.groupby(["origin", "destination", "transport_mode"])
top_imp = importaciones.count()["total_value"].sort_values(ascending=False).head(10)
top_imp = pd.DataFrame(top_imp).reset_index().rename(columns={"origin":"Origen", "destination":"Destino", "transport_mode":"Modo de Transporte", "total_value":"Flujo"})

In [504]:
top_imp

      Origen               Destino Modo de Transporte  Flujo
0  Singapore              Thailand                Sea    273
1    Germany                 China                Sea    233
2      China                 Japan                Air    210
3      Japan                Mexico                Sea    206
4   Malaysia              Thailand               Rail    195
5      China              Thailand               Road    145
6      Spain               Germany               Road    142
7      China  United Arab Emirates                Sea    114
8     Brazil                 China                Sea    113
9        USA              Thailand                Sea    109

Análisis de importaciones basado en el monto ingresado por cada ruta

In [307]:
sum_imp = importaciones.sum()["total_value"].sort_values(ascending=False).head(10)
sum_imp = pd.DataFrame(sum_imp).reset_index().rename(columns={"origin":"Origen", "destination":"Destino", "transport_mode":"Modo de Transporte", "total_value":"Ingresos ($)"})

In [308]:
sum_imp

      Origen               Destino Modo de Transporte  Ingresos ($)
0  Singapore              Thailand                Sea    4017000000
1      Japan                Mexico                Sea    3918000000
2   Malaysia              Thailand               Rail    3482000000
3      China  United Arab Emirates                Sea    3357000000
4      China                 Japan                Air    3237000000
5      China              Thailand               Road    2786000000
6      Japan  United Arab Emirates                Sea    2238000000
7     Mexico                   USA               Rail    2060000000
8      Spain               Germany               Road    2044000000
9    Germany                Mexico                Sea    1804000000

### Conclusión:

Como podemos observar, se realizó el análisis de importaciones y exportaciones no sólo basado en el número de veces que se llevó a cabo cada ruta, si no también basados en los ingresos que se generaron.
Lo que podemos observar es que las rutas no son las mismas en ambas situaciones, por lo tanto se recomienda enfocar esfuerzos en las rutas que más ingresos hayan tenido. 
El que una ruta se haya repetido más veces no significa que más ingresos haya generado, por lo que considero poner más enfasis en que esas rutas sigan generando igual o mayor cantidad de dinero.

### Opción 2) Medio de Tranporte Utilizado

Medios de transporte más utilizados para exportaciones

In [380]:
num_exp = exportaciones.transport_mode.value_counts()
num_exp = pd.DataFrame(num_exp).reset_index().rename(columns={"index":"Modo", "transport_mode":"# veces"})[:3]

In [381]:
num_exp

   Modo  # veces
0   Sea     8434
1  Rail     2780
2  Road     2149

Medios de transporte con más ingresos para exportaciones

In [270]:
sum_exp = pd.DataFrame()
sum_exp["Modo de Transporte"] = exportaciones["transport_mode"]
sum_exp["Ingresos ($)"] = exportaciones["total_value"]
sum_exp = sum_exp.groupby(['Modo de Transporte']).sum()
sum_exp = sum_exp["Ingresos ($)"].sort_values(ascending=False).head(3)
sum_exp = pd.DataFrame(sum_exp)

In [271]:
sum_exp

                    Ingresos ($)
Modo de Transporte
Sea                  65592622000
Rail                 34505043000
Air                  32785147000

Medios de transporte más utilizados para importaciones

In [430]:
num_imp = importaciones.count().reset_index() 
num_imp = num_imp["transport_mode"].value_counts()
num_imp = pd.DataFrame(num_imp).rename(columns={"transport_mode":"# Veces"})[:3]

In [431]:
num_imp

      # Veces
Sea        35
Rail        7
Road        5

Medios de transporte con más ingresos para importaciones

In [559]:
importaciones = database[database["direction"] == "Imports"]
sum_imp = importaciones.groupby("transport_mode")["total_value"].sum().reset_index()
sum_imp = sum_imp.sort_values(by='total_value', ascending=False)[:3]
sum_imp = pd.DataFrame(sum_imp).rename(columns={"transport_mode":"Modo", "total_value":"Ingreso($)"})

In [560]:
sum_imp

   Modo   Ingreso($)
3   Sea  34938000000
1  Rail   9123000000
2  Road   5990000000

### Conclusión:

Como podemos observar en los datos arrojados luego del análisis, tanto en importaciones como en exportaciones el medio de transporte más utilizado es el mismo. Tanto en número de veces, como en ingresos, el medio marino es, por mucho el más utilizado y en el que se debería prestar más empeño y dedicación debido a loas buenos números que este arroja.

### Opción 3) Valor Total de Importaciones y Exportaciones